<template>
  <div>
    <app-header>Ordered Pile</app-header>
    <app-main>
      <div v-if="loading">
        <hollow-dots-spinner
          :animation-duration="1000"
          :dot-size="15"
          :dots-num="3"
          :color="'#ff1d5e'"
        />
      </div>
      <div v-if="drawn.length > 0" class="pile">
        <div v-for="item in drawn" :key="item.id" class="pile__item">
          <card :value="item.value" :suit="item.suit" />
        </div>
      </div>
    </app-main>

    <aside v-if="!loading && drawn.length > 0 && highCard" class="aside">
      <p class="aside__p">
        <span class="aside__title">High Card:</span>
        <span>{{ highCard.id }}</span>
      </p>
      <p class="aside__p">
        <span class="aside__title">Full House Combo:</span>

        <span v-if="fullHouseCombinations.length === 0">None</span>
      </p>
      <ul v-if="fullHouseCombinations.length > 0">
        <li v-for="combo in fullHouseCombinations" :key="combo.join(', ')">
          {{ combo.join(', ') }}
        </li>
      </ul>
    </aside>
  </div>
</template>

<script>
import { HollowDotsSpinner } from 'epic-spinners'
import AppHeader from '@/components/AppHeader'
import AppMain from '@/components/AppMain'
import CardModel from '@/models/Card'
import Deck from '@/models/Deck'
import Card from '@/components/Card'

export default {
  middleware: 'setenv',
  components: {
    AppHeader,
    AppMain,
    Card,
    HollowDotsSpinner
  },
  asyncData({
    store: {
      state: { deckId, env, cards }
    }
  }) {
    const { API_URL: apiURL, PILE_NAME: pileName } = env

    return {
      drawn: [],
      apiURL,
      deckId,
      pileName,
      rotationCard: cards['rotation-card']
    }
  },
  data() {
    return {
      apiURL: '',
      pileName: '',
      highCard: null,
      rotationCard: null,
      fullHouseCombinations: [],
      deckId: this.$store.state.deckId,
      loading: true,
      drawn: []
    }
  },
  async mounted() {
    if (this.drawn.length > 0) {
      return
    }

    try {
      const { highCard, drawn, fullHouseCombinations } = await this.getDeck()

      this.highCard = highCard
      this.drawn = drawn
      this.fullHouseCombinations = fullHouseCombinations
      this.loading = false
    } catch (err) {
      console.error(err)
    }
  },
  methods: {
    async getDeck() {
      const { apiURL, deckId, pileName, rotationCard } = this

      try {
        const response = await this.$axios.$get(
          `${apiURL}deck/${deckId}/pile/${pileName}/list/`
        )
        const {
          piles: {
            [pileName]: { cards }
          }
        } = response

        const cardsToSort = cards.map((card) => new CardModel(card.code))
        const drawn = Deck.sortWithRotationCard(
          cardsToSort,
          new CardModel(rotationCard.value)
        )
        const highCard = Deck.highCard(cardsToSort)
        const fullHouseCombinations = Deck.fullHouseCombinations(cardsToSort)

        return { drawn, highCard, fullHouseCombinations }
      } catch (err) {
        console.error(err)

        return { drawn: [], highCard: null }
      }
    }
  }
}
</script>

<style lang="scss">
.pile {
  background-color: #d8d8d8;
  border: 2px solid #979797;
  padding: 0 1.25rem;

  &__item {
    margin: 1.75rem;
  }

  @media (min-width: 800px) {
    min-width: 62.5rem;
    min-height: 34.25rem;

    &__item {
      float: left;
    }
  }
}

.aside {
  font-size: 2rem;
  margin: 0 2rem;
  padding-bottom: 6rem;

  &__p {
    margin-top: 1rem;
  }

  &__title {
    font-weight: bold;
  }

  @media (min-width: 800px) {
    width: 48rem;
    margin: 0 auto;
  }
}
</style>
