<template>
  <div class="id-container">
    <span class="value" :data-suit="suit">{{ value }}</span>
    <span class="suit">
      <clubs v-if="isA('C')" />
      <diamonds v-if="isA('D')" />
      <hearts v-if="isA('H')" />
      <spades v-if="isA('S')" />
    </span>
  </div>
</template>

<script>
import Clubs from '@/components/icons/suits/Clubs.vue'
import Diamonds from '@/components/icons/suits/Diamonds.vue'
import Hearts from '@/components/icons/suits/Hearts.vue'
import Spades from '@/components/icons/suits/Spades.vue'

export default {
  components: {
    Clubs,
    Diamonds,
    Hearts,
    Spades
  },
  props: {
    value: {
      type: String,
      required: true
    },
    suit: {
      type: String,
      required: true
    }
  },
  methods: {
    isA(suit) {
      return this.suit === suit
    }
  }
}
</script>

<style lang="scss" scoped>
.id-container {
  box-sizing: border-box;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.value {
  font-family: Arial, sans;
  font-weight: bold;
  font-size: 2rem;
  color: #343434;

  &[data-suit='H'],
  &[data-suit='D'] {
    color: #ec2222;
  }
}

.suit {
  display: flex;
}
</style>
