<template>
  <div :class="`container ${hasErrors() ? 'has-errors' : ''}`">
    <slot></slot>
    <div class="container__main">
      <label v-if="label" :for="id">{{ label }}</label>
      <input
        :id="id"
        v-model="value"
        type="text"
        :placeholder="placeholder"
        @input="handleInput($event)"
        @blur="handleBlur()"
      />
      <div v-if="hasErrors()" class="errors baloon bottom">
        <p v-for="error of errors" :key="error">{{ error }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import Card from '@/models/Card'
import { errorMessages } from '@/constants'

export default {
  props: {
    id: {
      type: String,
      default: '',
      required: true
    },
    label: {
      type: String,
      default: '',
      required: false
    },
    placeholder: {
      type: String,
      default: '',
      required: false
    },
    rotationCard: {
      type: Boolean,
      default: false,
      required: false
    },
    cards: {
      type: Object,
      default: () => {},
      required: false
    }
  },
  data() {
    return {
      touched: false,
      value: '',
      errors: []
    }
  },
  methods: {
    hasErrors() {
      return this.touched && this.value && this.errors.length > 0
    },
    hasDuplicate() {
      if (this.rotationCard) {
        return false
      }

      const cards = this.cards ? Object.values(this.cards) : []

      if (cards.length === 0) {
        return false
      }

      const otherCards = cards.filter(({ id }) => id !== this.id)

      return otherCards.map(({ value }) => value).includes(this.value)
    },
    handleErrors({ duplicate, isValid }) {
      this.errors = []

      if (duplicate) {
        this.errors = [errorMessages.card.duplicate]
        return this.$emit('errors', this.errors)
      }

      if (!isValid) {
        this.errors.push(errorMessages.card.invalid)
      }

      this.$emit('errors', this.errors)
    },
    handleInput($event) {
      let {
        target: { value }
      } = $event

      value = value ? value.trim().toUpperCase() : ''
      this.value = value
      const card = new Card(value)
      const duplicate = this.hasDuplicate()
      const isValid = value ? !duplicate && card.isValid() : true

      this.handleErrors({
        duplicate: value ? duplicate : false,
        isValid
      })

      this.$emit('input', {
        id: this.id,
        value,
        isValid,
        rotationCard: this.rotationCard
      })
    },
    handleBlur() {
      this.touched = true

      this.$emit('blur')
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  position: relative;
  margin-bottom: 1.5rem;

  &.has-errors {
    input,
    input:focus {
      border-color: red;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
  }
}

label {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2;
  color: #b1b1b1;

  &.big {
    font-size: 2rem;
    color: #343434;
    text-transform: none;
    font-weight: bold;
    margin-right: 1.5rem;
    line-height: 1.5;
  }
}

input {
  border: 1px solid #ced2e0;
  outline: none;
  padding: 0 1rem;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  color: #505050;
  border-radius: 4px;
  min-height: 2.5rem;

  &,
  &:focus {
    background-color: #fff !important;
  }
}
</style>
