<template>
  <form class="form" @submit.prevent="onSubmit">
    <div class="form__fields">
      <div v-if="numberOfCards > 0" class="cards">
        <card-input
          v-for="cardNumber of numberOfCards"
          :id="`card-${cardNumber}`"
          :key="cardNumber"
          :label="`Card ${cardNumber}`"
          :cards="$store.state.cards"
          @blur="handleBlur"
          @input="handleInput"
          @errors="handleEmittedErrors"
        />
      </div>
      <div class="rotation-card-container">
        <card-input
          id="rotation-card"
          :rotation-card="true"
          :cards="$store.state.cards"
          @blur="handleBlur"
          @input="handleInput"
          @errors="handleEmittedErrors"
        >
          <label class="big" for="rotation-card">
            Rotation Card
          </label>
        </card-input>
      </div>
    </div>
    <div class="relative">
      <div v-if="errors.length && submitTouched" class="errors baloon top">
        <p v-for="error of errors" :key="error">{{ error }}</p>
      </div>
      <button
        class="button"
        type="submit"
        :disabled="disableSubmit()"
        @mouseover="handleSubmitFocus"
        @focus="handleSubmitFocus"
      >
        Submit
      </button>
    </div>
  </form>
</template>

<script>
import CardInput from '@/components/form/CardInput'
import { errorMessages } from '@/constants'

export default {
  components: {
    CardInput
  },
  props: {
    apiUrl: {
      type: String,
      required: true
    },
    numberOfCards: {
      type: Number,
      required: true,
      default: 0
    },
    pileName: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      someInvalid: false,
      errors: [],
      emittedErrors: [],
      submitTouched: false
    }
  },
  mounted() {
    this.setupCards()
  },
  methods: {
    setupCards() {
      const cards = {}
      const rotationCardId = 'rotation-card'

      for (let i = 1; i <= this.numberOfCards; i += 1) {
        const id = `card-${i}`

        cards[id] = { id, value: '', isValid: true, rotationCard: false }
      }

      cards[rotationCardId] = {
        id: rotationCardId,
        value: '',
        isValid: true,
        rotationCard: true
      }

      this.$store.dispatch('setCards', cards)
    },
    haveNoCardSet() {
      const cards = Object.values(this.$store.state.cards)

      return !cards.some(({ value }) => value)
    },
    haveOnlyRotationCardSet() {
      const cards = Object.values(this.$store.state.cards)
      const cardsWithValue = cards.filter(({ value }) => value)

      return cardsWithValue.length === 1 && cardsWithValue[0].rotationCard
    },
    haveNoRotationCard() {
      return !this.$store.state.cards['rotation-card'].value
    },
    haveSomeInvalid() {
      const cards = Object.values(this.$store.state.cards)

      return cards.some(({ isValid }) => isValid === false)
    },
    handleSubmitFocus() {
      this.submitTouched = true
      this.checkErrors()
    },
    checkErrors() {
      this.errors = []

      if (this.haveNoCardSet() || this.haveOnlyRotationCardSet()) {
        return this.errors.push(errorMessages.deck.missingCard)
      }

      if (this.haveNoRotationCard()) {
        this.errors.push(errorMessages.deck.missingRotationCard)
      }
    },
    handleEmittedErrors(errors) {
      this.emittedErrors = errors
    },
    handleInput(cardData) {
      this.$store.dispatch('updateCard', cardData)
      this.checkErrors()
    },
    handleBlur() {
      this.someInvalid = this.haveSomeInvalid()
      this.checkErrors()
    },
    disableSubmit() {
      const { someInvalid, errors, emittedErrors, submitTouched } = this

      return (
        submitTouched &&
        (someInvalid || errors.length > 0 || emittedErrors.length > 0)
      )
    },
    addToPile({ deckId, pileName, cards }) {
      return this.$axios.$get(
        `https://deckofcardsapi.com/api/deck/${deckId}/pile/${pileName}/add/?cards=${cards}`
      )
    },
    async onSubmit() {
      this.checkErrors()

      if (this.errors.length > 0) {
        return
      }

      const cards = Object.values(this.$store.state.cards)
        .filter(({ value, rotationCard }) => value && !rotationCard)
        .map(({ value }) => value)
        .join(',')
      const { pileName } = this
      const { success: deckSuccess, deck_id: deckId } = await this.$axios.$get(
        `${this.apiUrl}deck/new/shuffle/?cards=${cards}`
      )
      const { success: drawSucces } = await this.$axios.$get(
        `${this.apiUrl}deck/${deckId}/draw/?count=${cards.split(',').length}`
      )
      const { success: pileSuccess } = await this.addToPile({
        deckId,
        pileName,
        cards
      })

      if (deckSuccess && drawSucces && pileSuccess) {
        this.$store.dispatch('setDeck', deckId)
        this.$nuxt.$router.push({ path: `/deck/${deckId}` })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.form {
  justify-content: center;

  &,
  &__fields {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__fields {
    flex: 1;
  }
}

.cards {
  @media (min-width: 800px) {
    display: grid;
    grid-template: 1fr;
    grid-template-columns: repeat(5, 1fr);
  }
}

.rotation-card-container {
  margin-top: 3rem;
}
</style>
