<template>
  <div class="container highlight">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.container {
  font-size: 3rem;
  min-height: 8.625rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    97deg,
    #268700 15%,
    #248500 46%,
    #207a00 65%,
    #1b6b00
  );
}
</style>
