<template>
  <div class="container">
    <card-id :value="value" :suit="suit" />
    <card-id :value="value" :suit="suit" />
  </div>
</template>

<script>
import CardId from '@/components/Card/CardId'

export default {
  components: {
    CardId
  },
  props: {
    value: {
      type: String,
      required: true
    },
    suit: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  width: 136px;
  height: 238px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0 #826693;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.id-container + .id-container {
  transform: rotate(180deg);
}
</style>
