<template>
  <div class="wrapper">
    <nuxt class="wrapper__content" />
  </div>
</template>

<style lang="scss">
html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #dff4f7;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.relative {
  position: relative;
}

.button {
  background-color: #1c0063;
  padding: 0.5rem 3rem;
  border-radius: 1.25rem;
  font-size: 2rem;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: background-color ease 0.4s, color ease 0.4s;

  &[disabled] {
    pointer-events: none;
    background-color: #d3e8ea;
    color: #e5f8fb;
  }
}

.button,
.highlight {
  color: #fbe500;
  font-weight: bold;
}

.wrapper {
  &,
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__content {
    min-height: 100vh;
  }

  .app-main {
    margin: 3rem auto;
  }
}

input,
.baloon {
  box-shadow: 0 0 6px 2px rgba(136, 136, 136, 0.1);
}

.baloon {
  position: absolute;
  margin-top: 0.25rem;
  background-color: white;
  z-index: 1;
  padding: 0.5rem;
  border-radius: 4px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  &.bottom {
    top: 100%;

    &:before {
      border-bottom: 5px solid white;
      top: -5px;
    }
  }

  &.top {
    bottom: 100%;
    margin-bottom: 5px;

    &:before {
      border-top: 5px solid white;
      bottom: -5px;
    }
  }
}

.errors {
  color: red;
}

.icon {
  display: flex;
  max-width: 3rem;

  &__svg {
    height: 1.875rem;
  }
}
</style>
