<template>
  <span class="icon">
    <svg
      class="icon__svg"
      version="1.0"
      xmlns="http://www.w3.org/2000/svg"
      width="96"
      height="120"
      viewBox="0 0 72 90"
    >
      <path
        d="M32.2.8c-6.9 2-13.1 11-13.2 18.9 0 4.8 3.1 13.9 6.1 17.6l1.9 2.6-5.3-.6c-9.2-.9-16 2.5-19.8 10-3 5.8-2.4 14.9 1.4 20.6 4.1 6.1 8.1 8.3 14.4 7.8 6.5-.5 11.2-3.9 14.2-10.3 1.2-2.5 2.4-4.5 2.6-4.3.8.9-1.6 19.2-3 22.5-.8 2-1.5 3.8-1.5 4 0 .2 2.5.4 5.6.4 5 0 5.5-.2 4.9-1.7-1.8-4.5-2.5-8.3-3-16.7l-.6-9.1 2.1 3.9c4.1 8 9.2 11.6 16.2 11.6 10 0 18.1-11.1 16.3-22.5-1.5-10.4-9.9-17.1-20.4-16.3l-5.7.4 3.8-7.4c5.7-10.9 4.9-19.3-2.5-27C42.6 1 37.4-.6 32.2.8z"
      />
    </svg>
  </span>
</template>
