<template>
  <span class="icon">
    <svg
      class="icon__svg"
      version="1.0"
      xmlns="http://www.w3.org/2000/svg"
      width="96"
      height="120"
      viewBox="0 0 72 90"
    >
      <path
        d="M18.6 22.3C9.3 34 1.5 44 1.3 44.6 1 45.6 34.8 88.5 36 88.5c1 0 34.3-41.8 34.4-43.3.1-1.3-33.3-44.1-34.4-44.1-.3 0-8.1 9.6-17.4 21.2z"
        fill="#ec2222"
      />
    </svg>
  </span>
</template>
