<template>
  <span class="icon">
    <svg
      class="icon__svg"
      version="1.0"
      xmlns="http://www.w3.org/2000/svg"
      width="88"
      height="96"
      viewBox="0 0 66 72"
    >
      <path
        d="M11.5 1.9c-7.6 4.7-10 10.5-9.3 22.5.7 11.5 3.4 16.6 17.4 32.2 6.4 7.1 12 13.3 12.6 13.9.6.7 1.6.2 2.8-1.2 1-1.3 5.8-6.6 10.6-11.8C61.2 40.6 64 35 64 21.3 64 9.1 57.3 0 48.4 0c-3.8 0-10.2 3.9-12.5 7.7-1.1 1.8-2.4 3.3-2.7 3.3-.4 0-1.9-1.8-3.4-3.9C25.1.4 17.4-1.8 11.5 1.9z"
        fill="#ec2222"
      />
    </svg>
  </span>
</template>
