<template>
  <span class="icon">
    <svg
      class="icon__svg"
      version="1.0"
      xmlns="http://www.w3.org/2000/svg"
      width="96"
      height="120"
      viewBox="0 0 72 90"
    >
      <path
        d="M35 3.5c0 4.5-5.3 11.9-18.1 25C9.5 36.2 2.7 43.6 2 45 1.3 46.3.7 49.7.7 52.6.7 62.2 7.1 69 16.1 69c6.8 0 9.7-1.4 15.3-7.3l4.8-5.2-.6 5.5c-1.5 12.6-9.3 21.8-20.3 24-8.3 1.6-9.2 2-6.8 3 2.3 1 52.5 1.3 54.9.4 2.2-.8 2-2.4-.3-2.4-1 0-4.8-.9-8.3-2-10.6-3.2-16.1-10.4-17.4-22.6l-.6-5.9 4.2 4.8c5.3 6 8.6 7.7 14.8 7.7 5.4 0 10-2.5 13.6-7.3 2.6-3.5 2.8-12.7.3-17.3-.9-1.7-7.6-9.4-15-17.2-10.4-10.9-14-15.3-15.8-19.6C36.7 2.2 35 .4 35 3.5z"
      />
    </svg>
  </span>
</template>
