<template>
  <div class="container">
    <app-header>Cards</app-header>
    <app-main v-if="numberOfCards && apiURL">
      <new-deck-form
        :number-of-cards="numberOfCards"
        :api-url="apiURL"
        :pile-name="pileName"
      />
    </app-main>
  </div>
</template>

<script>
import AppHeader from '@/components/AppHeader'
import AppMain from '@/components/AppMain'
import NewDeckForm from '@/components/form/NewDeckForm'

export default {
  middleware: 'setenv',
  components: {
    AppHeader,
    AppMain,
    NewDeckForm
  },
  data() {
    const {
      API_URL: apiURL,
      NUMBER_OF_CARDS,
      PILE_NAME: pileName
    } = this.$store.state.env
    const numberOfCards = parseInt(NUMBER_OF_CARDS, 10)

    return {
      numberOfCards,
      apiURL,
      pileName
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
}
</style>
